.right-side{
    margin-top: 3rem;
    padding-top: 10rem;
}
.right-side .errur{
    color: #25C4F4;
}

.right-side h1{
    font-weight: bold;
    font-size: 4rem;

}

.right-side .text{
    color: #475467;
    font-size: 1.5rem;
    font-weight: 400;

}